<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width; initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Invitá un amigo</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <header class="Article-header">
    <h4>Mes del amigo en Cerviño</h4>
    <h1>Compartí lo que te hace bien</h1>
  </header>
  <div id="conteiner">
    <div id="content">

      <%= yield %>


    </div><!--Fin content-->
      <div id="pie">
        <%= image_tag 'pie.png', width: 250, height: 125 %>
      </div> 
  </div>
  <%= yield :body_end %>
</body>
</html>
